body {
	font-family: 'Oswald', sans-serif;
	margin: 0px;
}

#pagetitle {
	text-align: center;
}

#meta {
	text-align: center;
}

#search {
	font-size: 20px;
}

#search input[name="movie"],
#search input[name="city"] {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	width: 40%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#search input[type="submit"] {
	font-family: 'FontAwesome';
	font-size: 20px;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	margin-bottom: 20px;
}

#meta .module {
	display: inline-block;
	vertical-align: top;
}

#meta .module .count {
	font-size: 32px;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

#content {
	width: 90%;
	margin: 0 auto;
}

#content a {
	color: #aa0000;
	text-decoration: none;
}

#content .loading-spinner {
	display: none;
	margin: 20px;
	text-align: center;
}

#content.loading .loading-spinner {
	display: block;
}

#screenings > h3,
#screenings > ul {
	margin-top: 5px;
	margin-bottom: 10px;
}

ul.scale > li {
	float: left;
	display: block;
	width: 4.1666666666667%;
	text-align: center;
	font-size: 0.6em;
}

ul.scale > li:nth-child(2n) {
	background-color: #ccc;
} 

ul.screenings,
ul.scale {
	padding-left: 0px;
	list-style: none;
}

ul.screenings > li {
	position: relative;
	margin-bottom: 5px;
}

ul.screenings > li > div.metadata {
	padding: 2px;
}

ul.screenings > li > div.metadata .big {
	display: inline-block;
	margin-right: 10px;
}

ul.screenings > li > div.metadata .small {
	font-size: 12px;
	margin-right: 5px;
}

ul.screenings > li > div.metadata .time {
	display: inline-block;
	border: 2px solid #aa0000;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #aa0000;
	color: #fff;
	vertical-align: baseline;
}

ul.screenings > li > div.metadata .feature {
	display: inline-block;
	border: 2px solid #aa0000;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	color: #aa0000;
	vertical-align: baseline;
}


ul.screenings > li > div.timeduration {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	background-color: rgba(255,0,0,0.5);
}

#footer {
	padding-top: 50px;
	padding-bottom: 20px;
}

div#kudos {
	margin-left: auto;
	margin-right: auto;
	font-weight: 100;
	font-variant: small-caps;
	text-align: center;
	width: 50%;
	color: #424242;
}

div#kudos a {
	text-decoration: none;
	color: #666;
}

div#kudos span.big {
	font-size: 0.9em;
}

div#kudos span.small {
	font-size: 0.7em;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}